* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Helvetica, Arial, sans-serif;
}
/*
    làm từ ngoài vào trong
    làm từ trên xuống dưới    
    từ tổng quan đến chi tiết
*/
/*
    vị trí
    kích thước (w, h)
    màu sắc
    kiểu dáng (kiểu chữ, hình tròn, vuông...)
*/

.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}

#main {
  width: 100%;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 46px;
  background: #000;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li {
  display: inline-block;
}
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  color: #000;
  background: #ccc;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav .subnav li:hover a {
  display: block;
}

#header .search-icon {
  font-size: 20px;
  color: #fff;
}

#header .search-btn {
  float: right;
  padding: 12px 24px;
  cursor: pointer;
}

#header .search-btn:hover {
  background: red;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url("../img/chicago.jpg") top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  width: 100%;
  color: #fff;

  /*   cách khác:
        left: 50%;
        transform: translateX(-50%);*/
  text-align: center;
}

#slider .text-heading {
  font-size: 24px;
  font-weight: 500;
}

#slider .text-desc {
  margin-top: 25px;
  font-size: 15px;
}

/*Content*/
#content {
}

#content .content-section {
  padding: 64px 0;
  margin: 0 auto;
  width: 800px;
}

#content .section-heading {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
}

#content .section-sub-heading {
  text-align: center;
  font-style: italic;
  margin-top: 25px;
  font-size: 15px;
  color: #aaa;
}

#content .about-text {
  text-align: justify;
  margin-top: 25px;
  font-size: 15px;
}

#content .member-item {
  text-align: center;
  width: 33.3333%;
  float: left;
}

#content .members-list {
  margin-top: 48px;
  overflow: hidden;
}

#content .member-name {
  font-size: 15px;
}

#content .member-img {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}

/*Tour Section*/
.tour-section {
  background: #000;
}

/*ticket list*/

.ticket-list {
  background: #fff;
  margin-top: 40px;
}

.ticket-list li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  list-style-type: none;
  border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
  color: #fff;
  padding: 3px 4px;
  background: red;
  margin-left: 16px;
}

.ticket-list .quatity {
  width: 24px;
  float: right;
  height: 24px;
  color: #fff;
  margin-top: -3px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  background: #000;
}

/* Places */
.place-list {
  display: flex;
  font-size: 15px;
  margin-top: 32px;
  justify-content: space-between;
}

.place-list .place-item {
  width: calc(33.3333% - 8px);
  background: #fff;
}

.place-list .place-item img {
  width: 100%;
}

.place-img:hover {
  opacity: 0.6;
}

.place-body {
  padding: 16px;
}

.place-time {
  margin: 15px 0;
  color: #aaa;
}

.place-desc {
  margin: 16px 0;
}

.place-buy-btn {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  margin-bottom: 16px;
  padding: 8px 16px;
}

.place-buy-btn:hover {
  background-color: #bbb;
  color: #fff;
}

/*footer section*/
#footer {
}
